#found-routes-list-box {
  max-width: 100%;
  padding: 40px;
  background: rgba(222, 222, 222, 0.95);
  border-radius: 10px;
}

#found-routes-list-box-dark {
  max-width: 100%;
  padding: 40px;
  background: rgba(51, 51, 51, 0.98);
  color: #eeeeee;
  border-radius: 10px;
}

#inner-box {
  max-width: 100%;
  padding: 40px;
  background: rgba(238, 238, 238, 1);
  border-radius: 10px;
}

#inner-box-dark {
  max-width: 100%;
  padding: 40px;
  background: rgb(38, 38, 38);
  border-radius: 10px;
}

#info-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
}

#from-to {
  text-align: right;
}

#trip {
  text-align: left;
}

@media screen and (max-width: 480px) {
  #found-routes-list-box, #found-routes-list-box-dark {
    padding: 20px;
  }
  #info-row {
    grid-template-columns: 1fr;
  }
  #from-to, #trip {
    text-align: center;
  }
}
