.registerLink {
    all: inherit;
    border: none;
    outline: none;
    margin: 0px;
    padding: 15px;
    box-shadow: none;
}

.registerLink:hover {
    border-style:none;
}

.registerButton {
    padding: 0px;
}

.rememberMeCheck {
    margin-top: 10px;
}

.LoginTextField .MuiInputBase-root {  
    outline: none;
    border-radius: 5px;
}

.LoginTextFieldDark .MuiInputBase-root {  
    outline: none;
    border-radius: 5px;
    color: #eeeeee;
}