.LoginTextField .MuiInputBase-root {
    outline-style: none;
    border-style: none;
}

.darkLoginTextField .MuiInputBase-root {
    outline-style: none;
    border-style: none;
}

.LoginTextField .MuiInputBase-root:hover {
    outline-style: none;
    border-style: none;
}

.darkLoginTextField .MuiInputBase-root:hover {
    outline-style: none;
    border-style: none;
}

.registerLink {
    all: inherit;
    border: none;
    outline: none;
    margin: 0px;
    padding: 15px;
    box-shadow: none;
}

.registerLink:hover {
    border-style:none;
}

.registerButton {
    padding: 0px;
}

.rememberMeCheck {
    margin-top: 10px;
}

.LoginTextField .MuiInputBase-root {  
    outline: solid;
    outline-width: 1px;
    border-radius: 5px;
    outline-color: #262626;
}

.LoginTextFieldDark .MuiInputBase-root {  
    outline: solid;
    outline-width: 1px;
    border-radius: 5px;
    outline-color: #eeeeee;
    color: #eeeeee;
}

.LoginTextField .MuiInputBase-root:hover {  
    outline: none;
}

.LoginTextFieldDark .MuiInputBase-root:hover {  
    outline: none;
}