.Bar {
  padding-right: 3%;
  padding-left: 3%;
  display: grid;
  grid-template-columns: 30% 70%;
  height: 60px;
  width: 100%;
  background-color: #eeeeee;
  box-sizing: border-box;
}

.HomePageButton {
  height: 40px;
  margin: 10px;
  width: fit-content;
  border-style: hidden;
  background-color: #eeeeee;
  z-index: 1;
}

.HomePageButtonDark {
  height: 40px;
  margin: 10px;
  width: fit-content;
  border-style: hidden;
  background-color: #262626;
  z-index: 1;
}

.LogoImage {
  height: 100%;
}

.MenuLink {
  display: none;
}

.toggleContainerMenu {
  display: none;
}

.switchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.DarkThemeTextMenu {
  display: none;
}

.toggleMenu {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 18px;
  background-color: #525252;
  border-radius: 30px;
  border: 1px solid #000000;
}

/* After slide changes */
.toggleMenu:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #000000;
  top: 1px;
  left: 1px;
  transition: all 0.5s;
}

/* Checkbox checked effect */
.checkboxMenu:checked + .toggleMenu::after {
  left: 28px;
}

/* Checkbox checked toggle label bg color */
.checkboxMenu:checked + .toggleMenu {
  background-color: #eeeeee;
}

/* Checkbox vanished */
.checkboxMenu {
  display: none;
}

.DropDownMenuButtonBody {
  display: grid;
  align-content: center;
  justify-content: end;
  padding-right: 8px;
  height: 40px;
  margin: 10px;
  background-color: #eeeeee;
}

.DropDownMenuButtonBody > :hover.MuiButtonBase-root {
  outline: 0px;
}

.DropDownMenuButton {
  width: 40px;
  border-style: hidden;
}

.DropDownMenuImageVisible {
  height: 30px;
}

.DropDownMenuImageInvisible {
  display: none;
  height: 30px;
}

.ExitDropDownMenuImageVisible {
  width: 30px;
  border-style: hidden;
}

.ExitDropDownMenuImageInvisible {
  display: none;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .Bar {
    grid-template-columns: 12% 23% 23% 23% 19%;
  }
  .toggleContainerMenu {
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
  }
  .DropDownMenuButtonBody {
    display: none;
  }
  .DropDownMenuImageVisible {
    display: none;
  }
  .MenuLink {
    display: grid;
    margin-top: 20px;
    justify-content: center;
  }
  .MenuLink > * {
    color: #262626;
    font-weight: bolder;
    text-decoration: none;
    z-index: 1; /* Oli ongelma linkkien kanssa, ilmeisesti joku elementti
        tuli linkin päälle, jolloin klikkailu ei enää onnistunut jonkun linkin
        klikkaamisen jälkeen. Tämä korjaa ongelman. */
  }
  .UserButtonBody {
    display: inline;
  }
  .UserButton {
    display: inline;
  }
  .UserText {
    display: inline;
  }
}

@media screen and (min-width: 730px) {
  .Bar {
    grid-template-columns: 12% 20% 20% 20% 28%;
  }
  .DarkThemeTextMenu {
    display: grid;
    justify-content: center;
    color: #262626;
  }
  .toggleContainerMenu {
    display: grid;
    padding-left: 35px;
    justify-content: center;
    align-items: center;
    grid-template-columns: 35% 35%;
  }

  .toggleContainerMenu > * {
    flex: 1;
    text-align: center;
  }
}
