#payment-container {
  padding: 100px;
  max-width: 60%;
  background: rgba(222, 222, 222, 0.95);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#payment-container-dark {
  padding: 100px;
  max-width: 60%;
  background: rgba(51, 51, 51, 0.98);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#payment-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 950px) {
  #payment-container,
  #payment-container-dark {
    max-width: 80%;
    padding: 60px;
  }
}

@media screen and (max-width: 480px) {
  #payment-container,
  #payment-container-dark {
    max-width: 100%;
    padding: 20px;
  }
}
