#personal-info-box {
  padding: 40px;
  max-width: 100%;
  background: rgba(238, 238, 238, 0.8);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#personal-info-box-dark {
  padding: 40px;
  max-width: 100%;
  background: rgba(38, 38, 38, 0.8);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#personal-info-box-dark .MuiInputBase-root {
  color: #eeeeee;
}

#textfield-grid {
  text-align: left;
}
