#purchase-ok-grid {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 50%;
  background: rgba(222, 222, 222, 0.95);
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: start;
  justify-content: center;
}

#purchase-ok-grid-dark {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 50%;
  background: rgba(51, 51, 51, 0.98);
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: start;
  justify-content: center;
}

#back-to-front-page-button {
  padding: 15px;
  margin-top: 30px;
  width: 60%;
}

@media screen and (max-width: 1200px) {
  #purchase-ok-grid,
  #purchase-ok-grid-dark {
    width: 70%;
  }
}

@media screen and (max-width: 850px) {
  #purchase-ok-grid,
  #purchase-ok-grid-dark {
    width: 100%;
  }
}
