.RegisterBackground {
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 40px;
    padding-top: 10px;
    max-width: 600px;
    height: fit-content;
    background-color: rgba(222, 222, 222, 0.95);
}

.darkBackground {
    color: #eeeeee;
    background-color: rgba(51, 51, 51, 0.98);
}

.registerTextField .MuiInputBase-input {
    color: #262626;
}

.darkRegisterTextField .MuiInputBase-input {
    color: #eeeeee;
}


@media screen and (max-width: 570px) {
    .RegisterBackground {
        padding-left: 30px;
        padding-right: 30px;
    }

    .RegisterTitle {
        font-size: 95%;
    }

    .registerTextField > .MuiInputBase-input {
        height: 95%;
        font-size: 95%;
    }
    .registerVisibilityIcon > .MuiSvgIcon {
        width: 95%;
        font-size: 95%;
    }
}

@media screen and (max-width: 480px) {
    .RegisterBackground {
        padding-left: 20px;
        padding-right: 20px;
    }

    .RegisterTitle {
        font-size: 90%;
    }

    .registerTextField > .MuiInputBase-root {
        height: 90%;
        font-size: 90%;
    }
    .registerVisibilityIcon > .MuiSvgIcon {
        width: 90%;
        font-size: 90%;
    }
}


.RegisterTitle {
    padding-left: 10%;
    display: grid;
    justify-content: start;
}

.RegisterBodyLight {
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
    overflow: auto;
    color: #262626;
}

.RegisterBodyDark {
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
    overflow: auto;
    color: #eeeeee;
}

.backLink {
    margin: 0px;
}

.validRegistrationButton {
    color: #262626;
}

.invalidRegistrationButton {
    color: #d32f2f;
}

@media screen and (max-width: 570px) {
    .registerTextField .MuiFormHelperText-root {
        font-size: 95%;
    }
}

@media screen and (max-width: 480px) {
    .registerTextField > .MuiFormHelperText-root {
        font-size: 90%;
    }
}

