.RegisterSuccessBodyDark {
    padding: 40px 80px;
    margin: auto;
    margin-top: 40px;
    max-width: fit-content;
    background-color: rgba(51, 51, 51, 0.98);
    color: #eeeeee;
    border-radius: 10px;
}

.RegisterSuccessBodyLight {
    padding: 40px 80px;
    margin: auto;
    margin-top: 40px;
    max-width: fit-content;
    background-color: rgba(222, 222, 222, 0.95);
    color: #262626;
    border-radius: 10px;
}

.RegisterSuccessBodyDark .MuiTypography-root {
    font-size: larger;
    font-weight: bolder;
}

.RegisterSuccessBodyLight .MuiTypography-root {
    font-size: larger;
    font-weight: bolder;
}