.RegisterBackground {
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 40px;
    padding-top: 10px;
    max-width: 600px;
    height: fit-content;
    background-color: rgba(222, 222, 222, 0.95);
}

.darkBackground {
    color: #eeeeee;
    background-color: rgba(51, 51, 51, 0.98);
}

.light {
    color: #262626;
    background-color: rgb(238, 238, 238);
}

.dark {
    color: #eeeeee;
    background-color: rgb(38, 38, 38);
}

.registerTextField .MuiInputBase-root {
    outline: solid;
    outline-width: 1px;
    border-radius: 5px;
    outline-color: #262626;
    color: #262626;
}

.darkRegisterTextField .MuiInputBase-root {
    outline: solid;
    outline-width: 1px;
    border-radius: 5px;
    outline-color: #eeeeee;
    color: #eeeeee;
}

.registerTextField .MuiInputBase-root:hover {
    outline: none;
}

.darkRegisterTextField .MuiInputBase-root:hover {
    outline: none;
}

@media screen and (max-width: 570px) {
    .RegisterBackground {
        padding-left: 30px;
        padding-right: 30px;
    }

    .RegisterTitle {
        font-size: 80%;
    }

    .registerTextField > .MuiInputBase-input {
        height: 80%;
        font-size: 80%;
    }
    .registerVisibilityIcon > .MuiSvgIcon {
        width: 80%;
        font-size: 80%;
    }
}

@media screen and (max-width: 480px) {
    .RegisterBackground {
        padding-left: 20px;
        padding-right: 20px;
    }

    .RegisterTitle {
        font-size: 70%;
    }

    .registerTextField > .MuiInputBase-root {
        height: 70%;
        font-size: 70%;
    }
    .registerVisibilityIcon > .MuiSvgIcon {
        width: 70%;
        font-size: 70%;
    }
}


.RegisterTitle {
    padding-left: 10%;
    display: grid;
    justify-content: start;
}

.RegisterBody {
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
    overflow: auto;
}

.backLink {
    margin: 0px;
}

.validRegistrationButton {
    color: #262626;
}

.invalidRegistrationButton {
    color: #ff3c3c;
}

@media screen and (max-width: 570px) {
    .registerTextField .MuiFormHelperText-root {
        font-size: 70%;
    }
}

@media screen and (max-width: 480px) {
    .registerTextField .MuiFormHelperText-root {
        font-size: 60%;
    }
}

