#revise-box {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  border-radius: 10px;
}

#revise-sub-grid,
#selected-journey {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 100%;
  background: rgba(238, 238, 238, 0.8);
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: start;
  justify-content: center;
}

#add-email-button:hover #plus-icon {
  max-width: 40px;
  max-height: 40px;
}
