#route-info-box {
  width: 30%;
  padding: 40px;
  background: rgba(222, 222, 222, 0.95);
  border-radius: 10px;
  text-align: left;
}

#route-info-box-dark {
  width: 30%;
  padding: 40px;
  background: rgba(51, 51, 51, 0.98);
  border-radius: 10px;
  text-align: left;
}

#confirm-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

#route-info-grid {
  direction: column;
  align-items: center;
  justify-content: center;
}

#route-inside-box {
  background: rgba(238, 238, 238, 1);
  border-radius: 10px;
  padding: 40px;
  margin-top: 20px;
}

#route-inside-box-dark {
  background: rgba(38, 38, 38, 1);
  border-radius: 10px;
  padding: 40px;
  margin-top: 20px;
}

#from-to-grid {
  display: flex;
  direction: row;
  justify-content: flex-start;
  margin-bottom: 30px;
}

#times-grid {
  display: flex;
  direction: row;
  justify-content: flex-start;
  margin-top: 10px;
}

#departure-arrival-text-grid {
  display: flex;
  direction: row;
  justify-content: flex-start;
  margin-top: 50px;
  margin-bottom: 20px;
}

#arrow-item-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

#confirm-journey-button {
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 15px;
}

#back-button-div {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

@media screen and (max-width: 1700px) {
  #route-info-box,
  #route-info-box-dark {
    width: 40%;
  }
  #confirm-button-div {
    width: 40%;
  }
}

@media screen and (max-width: 1268px) {
  #route-info-box,
  #route-info-box-dark {
    width: 50%;
  }
  #confirm-button-div {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  #route-info-box,
  #route-info-box-dark {
    width: 70%;
  }
  #confirm-button-div {
    width: 70%;
  }
}

@media screen and (max-width: 750px) {
  #route-info-box,
  #route-info-box-dark {
    width: 80%;
    padding: 10%;
  }
  #route-inside-box {
    padding: 10%;
  }
  #confirm-button-div {
    width: 100%;
  }
}
