#from-cities,
#to-cities,
#passenger-type {
  background-color: #eeeeee;
  border-radius: 5px;
}

#from-cities-dark,
#to-cities-dark,
#passenger-type-dark {
  background-color: #262626;
  border-radius: 5px;
  color: #eeeeee;
}

#search-form-container {
  margin-top: 40px;
  max-width: 100%;
  padding: 40px;
  background: rgba(222, 222, 222, 0.95);
  border-radius: 10px;
}

#search-form-container-dark {
  margin-top: 40px;
  max-width: 100%;
  padding: 40px;
  background: rgba(51, 51, 51, 0.98);
  border-radius: 10px;
}

#single-select-div {
  margin-bottom: 20px;
}

.DatePickerDark .MuiInputBase-input {
  color: #eeeeee;
}

.MuiInputBase-root {
  width: 100%;
}

#date-picker > * {
  margin-bottom: 20px;
  width: 100%;
}

#fetch-routes-button {
  margin-top: 50px;
  margin-bottom: 10px;
  height: 50px;
  width: 50%;
}

.MenuItemDark .MuiMenuItem-root {
  color: #eeeeee;
}

@media screen and (max-width: 480px) {
  #search-form-container,
  #search-form-container-dark {
    padding: 20px;
  }
  #fetch-routes-button {
    width: 100%;
  }
}
