#from-cities,
#to-cities {
  background-color: #eeeeee;
  border-radius: 10px;
}

#search-form-container {
  max-width: 100%;
  padding: 40px;
  margin-left: 70px;
  margin-top: 50px;
  background: rgba(238, 238, 238, 0.8);
  border-radius: 10px;
}

#single-select-div {
  margin-bottom: 20px;
}

.MuiInputBase-root {
  width: 100%;
}

#date-picker > * {
  margin-bottom: 20px;
  width: 100%;
}

#fetch-routes-button {
  margin-top: 30px;
  margin-bottom: 50px;
  height: 50px;
}

@media screen and (max-width: 480px) {
  #search-form-container {
    padding: 20px;
  }
}
